@import "basicstyle.css";


.productcontent {
    position: absolute;
    width: 1200px;
    margin-left: 0;
    margin-top: 0;
}

.productcontent h1 {
    color: white;
    font-size: 24px;
    text-align: left;
    margin-top: 275px;
    margin-left: 200px;
}

.productcontent p {
    color: white;
    font-size: 18px;
    text-align: left;
    margin-left: 200px;
}

.checkoutProductButton {
    margin-top: 16px;
    margin-left: 200px;
}

.checkoutOurProductsBtn {
    border: 1px solid white;
    padding: 5px, 30px;
    color: #35677C;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
    background-color: white;
    font-family: "Roboto", sans-serif;
}

.checkoutOurProductsBtn:hover {
    background-color: #35677C;
    color: white;
    transition: all .5s ease-in;
}
