@import "basicstyle.css";

/*** products images styling starts ***/
.productimages {
    position: absolute;
    margin-top: 150px;
    margin-left: 60px;
}

/*** products images heading ***/
.productimages h1 {
    color: white;
    font-size: 14px;
    text-align: right;
    
}

.bottomtext h2 {
    margin-left: 700px;
}

/*** products images ***/
.roundbottom {
    position: absolute;
    width: 140px;
    height: auto;
    
}

.roundtop {
    position: absolute;
    width: 150px;
    height: auto;
}

.squaretop {
    position: absolute;
    width: 155px;
    height: auto;
}

.squarebottom {
    position: absolute;
    width: 165px;
    height: auto;
}

.roundbottom {
    margin-top: 30px;
    margin-left: 100px;
}

.squarebottom {
    margin-top: 30px;
    margin-left: 350px; 
}

.roundtop {
    margin-top: 20px;
    margin-left: 700px;
}

.squaretop {
    margin-top: 20px;
    margin-left: 950px
}

/*** products images styling end ***/

.kartbtn {
    color: white;
    font-size: 10px;
    text-align: right;
}