@import "basicstyle.css";

/*** products images styling starts ***/
.productimages {
    position: absolute;
    margin-top: 200px;
    margin-left: 60px;
}

/*** products images heading ***/
.productimages h1 {
    color: white;
    font-size: 14px;
    text-align: right;
    display: inline-block;
}

.bottomtext {
    margin-left: 300px;
}

/*** products images ***/
.roundbottom, .squarebottom, .roundtop, .squaretop {
    position: absolute;
    width: 140px;
    height: auto;
    margin-top: 40px;
}

.squarebottom {
    margin-left: 260px; 
}

.roundtop {
    margin-left: 500px;
}

.squaretop {
    margin-left: 730px
}

/*** products images styling end ***/