@import "basicstyle.css";

.signform {
    position: absolute;
    width: 600px;
    margin-left: 300px;
    margin-top: 200px;
}

.signform {
    color: white;
    font-size: 16px;
    text-align: left;
}

.form {
    margin: 20px auto;
    width: 300px;
    color: white;
    list-style-type: none;
}

.input [type="text"] {
    display: block;
    margin-bottom: 25px;
    width: 100px;
    border: 2px solid white;
}