@import "basestyle/css3";

body {
    font-family: monospace;
}

/*** Background image loading part ***/
.backgroundimage {
    background-image: url(Images/background.jpg);
    height: 100vh;
    background-size: contain;
    background-position: right;
}

/*** main menu starts ***/
.main-nav {
    text-align: right;
    width: auto;
    float:right;
    margin-top: 80px;
    margin-right: 100px;
}

.man-nav ul {
    list-style: none;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    text-align: left;
}

.main-nav li a:hover {
    border: 1px solid white;
}
/*** main menu end ***/

/*** top logo ***/
.logo img {
    margin-top: 40px;
    margin-left: 60px;
    width: 110px;
    height: auto;
    float: left;
}

/*** bottom language menu starts ***/

.bottom-row {
    position: absolute;
    margin-top: 580px;
    margin-left: 510px;
}

.languageSelector {
    float: center;
    list-style: none;
    margin-top: 40px;
    margin-left: 100px;
}

.languageSelector li {
    display: inline-block;
}

.languageSelector li a {
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border: 1px solid white;
}

.languageSelector li a:hover {
    border: 1px solid #0C2B3F;
    color: #0C2B3F;
    background-color: white;
    transition: all .5s ease-in;
}
/*** bottom language end ***/

/*** bottom logo ***/
.bottom-logo img {
    width: 60px;
    height: auto;
    margin-top: -40px;
}
